@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

.whatToDo {
  font-family: 'Hi Melody', sans-serif;
}

.whatToDo ::-webkit-input-placeholder {
  font-family: 'Hi Melody', sans-serif;
}

.whatToDo :-ms-input-placeholder {
  font-family: 'Hi Melody', sans-serif;
}

.whatToDo ::-ms-input-placeholder {
  font-family: 'Hi Melody', sans-serif;
}

.whatToDo ::placeholder {
  font-family: 'Hi Melody', sans-serif;
}
